body{
    background-color: #2f4c64;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
h1{
    margin: 1em 0 2em 0;
}


.container{
    display: flex;
}
.sidebar{
    background-color: rgba(255,255,255,0.1);
    margin-left: 1em;
    padding: 1em;
}
.group{
    background-color: rgba(255,255,255,0.1);
    padding: .5em;
    margin: 1em 0;
    border-radius: 3px;
}

.group *{
    display: block;
    margin: .5em 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
}

button{
    padding: .5em;
}
